---
interface Props {
  className?: string
  forLoad?: boolean
}

const { className, forLoad, ...props } = Astro.props
---

<div class:list={['tab-element', className, forLoad && 'for-load']} data-tabs="element" {...props} >
  <slot />
</div>
