---
interface Props {
  mods?: string[]
}

const { mods, ...props } = Astro.props
---

<div
  class:list={['accordion', mods?.map((mod) => `accordion--${mod}`)]}
  data-accordion="parent"
  {...props}
>
  <slot />
  <script>
    import { Accordions } from './accordions'
    let accordions = new Accordions()
    accordions.init()
  </script>
</div>
